.left-container {
    height: calc(100vh - 6.4rem);
    padding: 1rem;
    background-color: yellow;
}
.right-container {
    background-color: pink;
    padding: 1rem 2rem;
}

.space-0 {
    margin: 0;
}
.action-panel {
    padding-bottom: 1rem;
    &.border-active {
        border-bottom: 1px solid gray;
    }    
}

.body-content {
    padding: 2rem 0;
}

.example-spacer {
    flex: 1 1 auto;
}