<div fxLayout="row" fxFlexFill fxLayoutAlign="start stretch">
    <div fxLayout="column" fxFlex="25" class="left-container">
        <h2>Learning outcomes</h2>
         
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Learning outcomes">
        </mat-form-field>

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>
        <!-- <p>
            Option selected: {{shoes.selectedOptions.selected[0]?.value}}
        </p> -->

    </div>
    <div fxFlex="75" class="right-container"> 

        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="action-panel border-active">
            <div fxFlex="75" fxLayoutAlign="start center">
                <h1 class="space-0">Establish a potential client's QuickBooks Online and QuickBooks Self-Employed needs</h1>
            </div>
            <div fxFlex="25" fxLayoutAlign="end center" fxFlexOffset="20px">  
                <button mat-raised-button color="primary" (click)="openDialog()">Add learning content</button>               
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="fxFlexFill" class="body-content">
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="start top">               

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row>
                        <span><h3>Learning Content</h3></span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>visibility</mat-icon>
                              <span>Preview</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span>
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>               

                <mat-card>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option>Learning Content 1</mat-list-option>
                        <mat-list-option>Learning Content 2</mat-list-option>
                        <mat-list-option>Learning Content 3</mat-list-option>
                        <mat-list-option>Learning Content 4</mat-list-option>
                        <mat-list-option>Learning Content 5</mat-list-option>
                    </mat-selection-list>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex="50" fxLayoutAlign="end top" fxFlexOffset="30px">  

                <mat-toolbar color="primary"> 
                    <mat-toolbar-row>
                        <span><h3>Questions</h3></span>
                        <span class="example-spacer"></span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>reorder</mat-icon>
                              <span>Re-order</span> 
                            </button>
                        </mat-menu>
                    </mat-toolbar-row>
                </mat-toolbar>           
                <mat-card>
                    <mat-selection-list>
                        <mat-selection-list #shoes [multiple]="false">
                            <mat-list-option>Question 1</mat-list-option>
                            <mat-list-option>Question 2</mat-list-option>
                            <mat-list-option>Question 3</mat-list-option>
                            <mat-list-option>Question 4</mat-list-option>
                            <mat-list-option>Question 5</mat-list-option>
                        </mat-selection-list>
                    </mat-selection-list>
                </mat-card>               
            </div>
        </div>

        
        
    </div>
</div>

