<!-- Topbar -->
<app-top-bar></app-top-bar>

<!-- Navbar: Tabs -->
<!-- <app-nav-bar></app-nav-bar> -->
<main>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Learning Material">
            <app-learning-material></app-learning-material>
        </mat-tab>
        <mat-tab label="Presentation">
            <app-presentation></app-presentation>
        </mat-tab>
        <mat-tab label="Certification Exam">
            <app-certification-exam></app-certification-exam> 
        </mat-tab>
    </mat-tab-group>
</main>

<!-- Contentpane -->
<router-outlet></router-outlet>


